.App {
  height: 100vh;
  width: 100%;
  background-color: #1b1e22e1;
  color: azure;
}

nav {
  background-color: #02020287;
  color: aliceblue;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

nav .nav-item ::hover {
  /* z-index: 10%; */
  padding-left: 4px;
}

form {
  background-color: #282c34e1;
  padding: 50px;
  margin: 10px;
  box-shadow: 10px 10px 10px 10px #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
